secrets = {
	'ssid' : '',  # _your_wifi_
	'password' : '',  # _your_wifi_password_
	'broker': "192.168.1.100",  # _your_mqtt_broker_
	'broker_user': "",  # _your_mqtt_broker_username_
	'broker_pass': "",  # _your_mqtt_broker_password_
	'topic_prefix': "/matrixportal",  # _prefix_for_device_mqtt_topics
}

